.cursor-pointer {
  cursor: pointer;
}

.radius {
  border-radius: 10px;
}

.text-primary {
  color: rgba(17, 126, 229, 1);
}

.menu-item,
.sub-menu-item {
  &:hover {
    color: #007bff !important;
    background-color: rgba(245, 250, 254, 1);
  }
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transform {
  &.rotate-90 {
    transform: rotate(90deg);
  }
}
