.cursor-pointer {
  cursor: pointer;
}

.radius {
  border-radius: 10px;
}

.text-purple {
  color: #6559f5;
}

.menu-item,
.sub-menu-item {
  &:hover {
    color: #6559f5 !important;
    background-color: rgb(247, 245, 254);
  }
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transform {
  &.rotate-90 {
    transform: rotate(90deg);
  }
}
