<div class="form-group">
  <app-label [label]="formData.label" [id]="formData.alias" [fc]="fc">
  </app-label>
  <input
    [type]="formData.type"
    [class]="formData.class"
    [formControl]="fc"
    [id]="formData.alias"
    [placeholder]="formData.placeholder"
    [class.ng-invalid]="!fc.valid && (fc.dirty || fc.touched)"
    [value]="fc.value | number"
    oninput="this.value=this.value.replace(/[^0-9]/g,'')"
  />
  <ng-container *ngIf="fc?.enabled">
    <app-notification [fc]="fc" [id]="formData.alias"></app-notification>
  </ng-container>
</div>
